{% extends 'base.html.twig' %}

{% block title %}New FireFighter{% endblock %}

{% block body %}
    <h1>Create new FireFighter</h1>

    {{ include('fire_fighter/_form.html.twig') }}

    <a href="{{ path('fire_fighter_index') }}">back to list</a>
{% endblock %}
