{% extends 'base.html.twig' %}

{% block maintitle %}New Health Care{% endblock %}
{% block breadcrumb %} 
<li class="breadcrumb-item ">Health Care</li>
<li class="breadcrumb-item active">New</li>
{% endblock %}
{% block body %}

    {{ include('health_care/_form.html.twig') }}

    {# <a href="{{ path('health_care_index') }}">back to list</a> #}
{% endblock %}

{% block javascripts %}
	{# {{ include('health_care/js.html.twig') }} #}
{% endblock %}